h1 {
    margin-left: 15px;
}

.inputText {
    padding: 10px;
    font-size: 17px;
    border-radius: 3px;
    border: 1.5px solid rgba(0, 0, 0, 0.6);
    width: 75px;
}

.inputText::-webkit-calendar-picker-indicator {
    opacity: 100;
 }

.dropBtn {
    background-color: #3498D3;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropBtn:hover, .dropBtn:focus {
    background-color: #298089;
}

.dropdown {
    display: inline-block;
}

label {
    font-size: 27px;
}

.show {
    display: block;
}

.barrato {
    text-decoration: line-through;
}

#whatodo {
    padding: 10px;
    margin-left: 15px;
    font-size: 17px;
    border-radius: 3px;
    border: 1.5px solid rgba(0, 0, 0, 0.6)
}

#buttonAdd {
    width: 60px;
    height: 44px;
}

#whatodo, #buttonAdd {
    display: inline-block;
    border-radius: 3px;
}

.check, .name {
    padding: 5px;
    font-size: 30px;
}

table {
    margin: 15px;
    margin-top: 50px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: inline-table;
}

table:hover {
    z-index: 1000;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.checkbox {
    text-align: center;
}

td input {
    width: 34px;
    height: 34px;
}

td {
    padding: 5px;
    font-size: 34px;
}

.high {
    background-color: #dc3545;
}

.medium {
    background-color: #ffc107;
}

.low {
    background-color: #198754;
}
